body
{
	text-align: center;
    background: linear-gradient(to bottom rgb(0, 162, 255) rgb(255, 0, 0));
}
span
{
	font-size: 12px;
	color: red;
}
canvas
{
	background-image: linear-gradient(to bottom, rgb(204, 242, 253), rgb(0, 162, 255));
	border-radius: 20px;
}